<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/0c53748943.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="jumbotron card card-image"
        style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Dog Book</strong></h2>
                <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                    laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                    sed qui, dolorum!
                </p>
                <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a>
            </div>
        </div>
    </div>

    <form class="row">
            <input type="text" class="form-control my-3" placeholder="Filter Dogs" ng-model="query"
              aria-label="Toggle ngShow">
            <h3 class="text-success mr-4">Order your dogs:</h3>
            <select ng-model="orderProp">
              <option value="fname">
                First Name
              </option>
              <option value="lname">
                Last Name
              </option>
            </select>
          </form>
      
          <div class="row">
      
            <div class="col-md-4 col-sm-6 pt-4"
              ng-repeat="dog in dogs | filter : filterDog | orderBy : orderProp as filteredDog"
              ng-click="clickCard(dog)">
              <!-- My Actors Diretive:  -->
              <div class="card round" ng-class="{'border-3d': dog===activeCard}">
                    <img class="card-img-top img-responsive" ng-src="{{dog.image}}">
                    <div class="card-body">
                      <a href="{{dog.imdb}}" target="_blank">
                        <h4 class="card-title">{{dog.fullName()}}</h4>
                      </a>
                      <h5 class="card-title">{{dog.birthday | date: "'Birthday: 'MMM d, y"}}</h5>
                      <p class="card-text"></p>
                      <a ng-href="{{dog.imdb}}" class="btn btn-primary">See Profile</a>
                    </div>
                  </div>
            </div>
          </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>